.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2em 6em;
}

.gpt3__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gpt3__navbar-links_logo {
    margin-right: 2em;

    img {
        width: 4em;
        height: 1em;
    }
}

.gpt3__navbar-links_container,
.gpt3__navbar-sign,
.gpt3__navbar-menu_container {

    ul {
        display: flex;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: #fafafa;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 1em;
        line-height: 1.5em;
        text-transform: capitalize;
        margin: 0 1em;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover{
            color: #e0e0e0;
        }
        
    }

}

.gpt3__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gpt3__navbar-sign,
.gpt3__navbar-menu_container {

    button {
        padding: .5em 1em;
        color: #fafafa;
        font-family: var(--font-family);
        font-weight: 500;
        font-style: normal;
        line-height: 1.5em;
        font-size: 1.1em;
        background: #ff4820;
        border-radius: 5px;
        border: 0;
        outline: none;
        cursor: pointer;

        transition: all .3s linear;

        &:hover {
            background: #ee3005;
        }
    }

}

.gpt3__navbar-menu {
    margin-left: 1em;

    display: none;
    position: relative;

    svg {
        cursor: pointer;
    }
}

.gpt3__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);

    padding: 2em;
    position: absolute;
    top: 2.5em;
    right: 0;
    margin-top: 1em;
    min-width: 13em;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.gpt3__navbar-menu_container {
    li {
        margin: 10px 0;
    }
}

.gpt3__navbar-menu_container-links-sign {

    display: none;

}

@media (max-width: 66em) {
    .gpt3__navbar-links_container {
        display: none;
    }

    .gpt3__navbar-menu {
        display: flex;
    }

    .gpt3__navbar-menu_container {


        ul {
            flex-direction: column;

        }
    }
}

@media (max-width: 44em) {
    .gpt3__navbar {
        padding: 2em;
    }

    .gpt3__navbar-sign {
        display: none;
    }

    .gpt3__navbar-menu_container {
        top: 20px;
    }

    .gpt3__navbar-menu_container-links-sign {
        display: block;
        margin-top: 10px;
        
        button{
            margin-top: 10px;
        }
    }
}